{% extends 'base.html' %}
{% load staticfiles %}

<html>
<head>
    <title>Gallery Page</title>
</head>
<body>
{% block content %}

<h1 class="text-center text-danger"></h1>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{% static 'images/040.jpg' %}" style="width:100%;height:50%">
        </div>
        <div class="col-md-6">
            <img src="{% static 'images/041.jpg' %}" style="width:100%;height:100%">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="{% static 'images/042.jpg' %}" style="width:100%;height:100%">
        </div>
        <div class="col-md-6">
            <img src="{% static 'images/043.jpg' %}" style="width:100%;height:100%">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="{% static 'images/044.jpg' %}" style="width:100%;height:100%">
        </div>
        <div class="col-md-6">
            <img src="{% static 'images/045.jpg' %}" style="width:100%;height:100%">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="{% static 'images/046.jpg' %}" style="width:100%;height:100%">
        </div>
        <div class="col-md-6">
            <img src="{% static 'images/047.jpg' %}" style="width:100%;height:100%">
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>